.root {
    -fx-font-size: 18pt;
    -fx-font-family: Tahoma;
    -fx-base: rgb(116, 158, 224);
    -fx-background: rgb(208, 215, 226);
}

#dataPane {
    -fx-border-color: antiquewhite;
    -fx-grid-lines-visible: false;
    -fx-background-color: black;
    -fx-padding: 2;
    -fx-hgap: 2;
    -fx-vgap: 2;
    -fx-snap-to-pixel: false;
}

#fancytext {
    -fx-font: 60px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, cadetblue 0%, cornflowerblue 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#gridNodes {
    -fx-background-color: aliceblue;
    -fx-alignment: center;
}

#categories {
    -fx-background-color: aliceblue;
    -fx-alignment: center;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

#labelButton {
    -fx-background-color: aliceblue;
    -fx-text-fill: blue;
    -fx-border-color: cadetblue;
    -fx-border-width: 3;
    -fx-font-family: Tahoma;
    -fx-alignment: center;
    -fx-font-size: 18pt;
    -fx-innershadow: gaussian, 100,100,100,100;
}

#gradeMsg {
    -fx-background-color: aliceblue;
    -fx-alignment: center;
    -fx-font-size: 20pt;
    -fx-font-weight: bold;

}


#Save {
    -fx-alignment: top-left;
    -fx-background-radius: 10%;
    -fx-padding: 5%;
    -fx-spacing: 550pt;
}

#Title {
    -fx-alignment: center;
}
